.previewButton {
    text-align: right !important;
    position: relative !important;
    top: -26px;
    right: -5px;
}
    .previewButton .zoom__icon__album {
        width: 10% !important;
        float: right;
        position: relative;
        right: 8px;
    }



.disabled-link {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #808080;
}

.active-link {
    color: white;
}


/* range */
.range-custom::-webkit-slider-thumb {
    background-color: #fff;
}

/* slide */
.range-custom::-webkit-slider-runnable-track {
    background-color: #c3c3c3;
}

.range-area > * {
    vertical-align: middle
}

#previewImageArea {
    padding: 5px;
    background-color: black;
}
