::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #212529;
}

body {
    color: #ffffff;
    background-color: #000;
}

/*.navbar-header {
    position: relative;
    height: 30px;
    background: #5a5e64;
}

    .navbar-header .icon-notify {
        position: absolute;
        right: 20px;
        top: 30%;
    }*/

.page-header {
    background-color: #343a40;
    /*padding: 2%;*/
    padding: 18px;
    display: flex;
}

    .page-header .search-wrapper {
        width: 100%;
        position: relative;
    }

/*.project_tags {
    padding-bottom: 10px;
}*/

img.company-banner {
    width: 300px;
    margin-right: 1rem;
}

#logo-search {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    #logo {
        display: none;
    }

    #logo-mobile {
        display: block !important;
    }
}

#logo-mobile {
    display: none;
    max-height: 38px;
}

#logo-search .company-banner-wrapper {
    margin-right: 15px;
}

    #logo-search .company-banner-wrapper a {
        line-height: 38px;
    }

#search-bar {
    width: -webkit-fill-available;
}

.search-wrapper .icon-search {
    color: #bdbdbd;
}

.input-group > .form-control:focus {
    z-index: revert;
}

/*thumbnail design*/

.thumbnail-container {
    column-count: 8;
    column-gap: 15px;
}

/*以下コメント*/
/*@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .thumbnail-container {
        column-count: 6;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .thumbnail-container {
        column-count: 5;
    }
}

@media screen and (min-width: 990px) and (max-width: 1023px) {
    .thumbnail-container {
        column-count: 4;
    }
}

@media screen and (min-width: 768px) and (max-width: 989px) {
    .thumbnail-container {
        column-count: 3;
    }
}

@media screen and (max-width: 767px) {
    .thumbnail-container {
        column-count: 2;
    }
}*/

.thumbnail-container figure {
    position: relative;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 16px;
    break-inside: avoid;
    transition: 1s;
    border-radius: 10px;
    overflow: hidden;
}

    .thumbnail-container figure > img {
        width: 100%;
        grid-row: 1 / -1;
        grid-column: 1;
        transition: 1s;
    }

.thumbnail-container img {
    max-width: 100%;
    width: 100%;
    display: block;
}

.thumbnail-container figure > img:hover {
    transform: scale(1.2);
}

.thumbnail-container figure .title {
    display: none;
}

.thumbnail-container figure:hover .title {
    display: -webkit-box;
    position: absolute;
    color: white;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    top: 20px;
    left: 5%;
    width: 90%;
    font-weight: bold;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail-container figure .description {
    position: absolute;
    color: white;
    font-size: 13px;
    line-height: 1.4;
    text-decoration: none;
    top: 50px;
    left: 5%;
    width: 90%;
    font-weight: bold;
    display: none;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail-container figure:hover .description {
    display: -webkit-box
}

.thumbnail-container figure:hover {
    opacity: 0.6;
}

/*////*/

.thumbnail-container .text-wrapper {
    position: absolute;
    padding: 1%;
    width: 18%;
}

.add-image-container {
    position: fixed;
    bottom: 0;
    margin-left: 90%;
    margin-bottom: 5%;
}

    .add-image-container a,
    .add-image-container a:hover {
        color: #ffffff
    }

.modal-registration .container {
    display: flex;
}

.modal-registration .content {
    width: 100%;
}

.modal-registration .image-uploader-wrapper {
    width: 420px;
    border: 1px solid #e7ebf0;
    border-radius: 3%;
    padding: 1%;
}

    .modal-registration .image-uploader-wrapper img.main {
        width: 100%;
        border-radius: 3%;
    }

.input-control {
    width: 100%;
    margin-bottom: 4%;
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0;
    font-size: 1.3rem;
}

    /*.input-control.input-title {
        margin-top: 4%;
    }*/

.btn-default {
    background-color: #343a40;
    border: none;
    border-radius: 8px;
    position: relative;
    color: #eef2f7
}

    .btn-default:hover {
        color: #ffffff;
    }

.text-logout {
    float: right;
    position: relative;
    margin-top: 28px;
    color: #fff;
}

    .text-logout:hover {
        color: #fff;
    }

.tag-text {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.text-black {
    color: #000000;
}

.btn-save {
    width: 230px;
    height: 50px;
}

.modal-registration {
    height: 100%;
    margin: auto;
}

    .modal-registration .thumbnail-wrapper {
        width: 76px;
        height: 50px;
        border: none;
        position: relative;
        margin-top: 2%;
        margin-right: 6%;
        display: inline-block;
    }

        .modal-registration .thumbnail-wrapper img.thumbnail {
            width: 100px;
            border-radius: 3%;
        }

    .modal-registration .tag-control-container {
        /*padding-bottom: 5%;*/
        padding-bottom: 10px;
    }

.dropzone {
    align-items: center;
    justify-content: center;
    min-height: 210px !important;
    background: white;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px;
    border: 0;
}

    .dropzone .dz-preview .dz-image {
        border-radius: 5px !important;
    }

.boder-form-dropzone {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-width: 2px;
    border-radius: 10px;
    border-style: dashed;
    height: 100%;
}

.scrollspy-example {
    max-height: 700px;
    height: 100%;
    width: 100%;
    margin: 0;
}

.scrollbar-dropzone::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #fff;
    background-color: white;
}

.scrollbar-dropzone::-webkit-scrollbar {
    width: 12px;
    background-color: #ccc;
}

.scrollbar-dropzone::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ccc;
}

.dz-message {
    position: absolute;
    top: 45%;
    transform: translateY(-55%);
}


.bootstrap-tagsinput {
    width: 100%;
}

.bootstrap-tagsinput {
    overflow-y: scroll;
    height: 44vh;
    border-radius: 4px;
}

    .bootstrap-tagsinput::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5;
    }

    .bootstrap-tagsinput .tag {
        color: white;
        display: inline-block;
    }

.label-info {
    padding: 1.5%;
    background-color: #343a40;
    border-radius: 3px;
    margin: 5px;
}

.bootstrap-tagsinput input {
    width: 100%;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 18px;
}

    .bootstrap-tagsinput .tag [data-role="remove"]:after {
        content: "\f410";
        font-family: 'Font Awesome 5 Free';
    }

.file-drop-zone {
    margin: 0;
    padding: 0;
    height: 260px;
    overflow-y: auto;
}

.file-preview .fileinput-remove {
    display: none
}

.indicator-loader {
    position: absolute;
    left: calc(50% - 15px);
    top: 45%;
    z-index: 99999;
}

.section-pagination {
    margin-top: 1%;
    position: absolute;
    left: 40%;
}

.btn-edit {
    background-color: #343a40;
    border: none;
    position: relative;
    color: #eef2f7;
    width: 150px;
    height: 50px;
}

@media screen and (min-width: 730px) and (max-width: 991px) {
    .modal-dialog {
        max-width: 650px;
    }
}

@media screen and (max-width: 767px) {
    .bootstrap-tagsinput {
        height: 10vh;
    }

    .scrollspy-example {
        max-height: 260px;
    }

    .dz-message {
        top: 50%;
        transform: translateY(-50%);
    }
}

#loading-indicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1056; /* modalのz-index + 1 */
}

.navbar-header .bootstrap-tagsinput {
    overflow-y: unset;
    height: unset;
}

.navbar-header .bootstrap-tagsinput input {
    width: auto;
}

.navbar-header .bootstrap-tagsinput .label-info {
    padding: 2px;
    margin: 0;
}

.navbar-header .bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 5px; 
}

.navbar-header {
    user-select: none;
}

/* Header new a link styles
-------------------------------------------------------- */
.header-item, .header-item:hover {
    color: var(--bs-dropdown-link-color);
    text-decoration: none;
}

/* Album View text style */
.album-title {
    margin-top: -10px;
    margin-bottom: 25px;
}
