body {
    color: #ffffff;
    background-color: #000;
}

.navbar-header {
    position: relative;
    height: 30px;
    background: #5a5e64;
}
.navbar-header .icon-notify {
    position: absolute;
    right: 20px;
    top: 30%;
}
.page-header {
    background-color: #343a40;
    padding: 2%;
    display: flex;
}

.page-header .search-wrapper {
    width: 100%;
    position: relative;
}

img.company-banner {
    width:50%;
}

.search-wrapper .icon-search {
    color: #bdbdbd;
}
.input-group > .form-control:focus {
    z-index: revert;
}
/*thumbnail design*/
.thumbnail-container {
    column-count: 4;
    column-gap: 10px;
}

.thumbnail-container figure {
    position: relative;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    transition: 1s;
    border-radius: 10px;
    overflow: hidden;
}

.thumbnail-container figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
    transition: 1s;
}

.thumbnail-container img {
    max-width: 100%;
    display: block;
}


.thumbnail-container figure > img:hover {
    transform: scale(1.2);
}

.thumbnail-container figure .title {
    display: none;
}

.thumbnail-container figure:hover .title {
    display: -webkit-box;
    position: absolute;
    color: white;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    top: 20px;
    left: 5%;
    width: 90%;
    font-weight: bold;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail-container figure .description {
    position: absolute;
    color: white;
    font-size: 13px;
    line-height: 1.4;
    text-decoration: none;
    top: 50px;
    left: 5%;
    width: 90%;
    font-weight: bold;
    display: none;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail-container figure:hover .description {
    display: -webkit-box
}

.thumbnail-container figure:hover {
    opacity: 0.6;
}


/*////*/

.thumbnail-container .text-wrapper {
    position: absolute;
    padding: 1%;
    width:18%;
}

.add-image-container {
    position: fixed;
    bottom: 0;
    margin-left: 90%;
    margin-bottom: 5%;
}

.add-image-container a,
.add-image-container a:hover{
    color: #ffffff
}

.modal-registration {
    width:950px;
}

.modal-registration .container {
    display: flex;
}

.modal-registration .content {
    width:100%;
}


.modal-registration .image-uploader-wrapper {
    width: 420px;
    border: 1px solid #e7ebf0;
    border-radius: 3%;
    padding: 1%;
}

    .modal-registration .image-uploader-wrapper img.main {
        width: 100%;
        border-radius: 3%;
    }

.modal-registration .input-control {
    width: 100%;
    margin-bottom: 4%;
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0;
    font-size: 1.3rem;
}

    .modal-registration .input-control.input-title {
        margin-top:4%;
    }

    .btn-default {
        background-color: #343a40;
        border: none;
        border-radius: 20px;
        position: relative;
        color: #eef2f7
    }

        .btn-default:hover {
            color: #ffffff;
        }



.text-logout {
    float: right;
    position: relative;
    margin-top: 28px;
    color: #fff;
}

    .text-logout:hover {
        color: #fff;
    }

.tag-text {
    font-weight:bold
}

.text-align-center {
    text-align:center;
}

.text-white {
    
}

.text-black {
    color:#000000;
}

.btn-save {
    width: 230px;
    height: 50px;
}

.modal-registration .thumbnail-wrapper {
    width: 76px;
    height: 50px;
    border: none;
    position: relative;
    margin-top: 2%;
    margin-right: 6%;
    display: inline-block;
}

    .modal-registration .thumbnail-wrapper img.thumbnail {
        width: 100px;
        border-radius: 3%;
    }

.modal-registration .tag-control-container {
    padding-bottom:5%;
}

.modal-registration .btn-save {
    margin-left: 22%;
}

.modal {
    position: absolute;
    margin-top: 12%;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}


.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 341px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    color: #ccc;
    border-style: dashed;
    border-width: 2px;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px;
}

/*bootstrap-tagsinput*/

.bootstrap-tagsinput {
    width: 100%;
}

.bootstrap-tagsinput {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    display: inline-block;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    max-width: 100%;
    line-height: 75px;
    cursor: text;
    border-width: 1px;
    border-style: solid;
    border-color: #dee2e6;
    border-image: initial;
    padding: 4px 6px;
    border-radius: 4px;
}

    .bootstrap-tagsinput .tag {
        color: white;
        display: inline-block;
    }

.label-info {
    background-color: #343a40;
    padding: 0 2%;
    background-color: #343a40;
    border-radius: 5px;
    margin-bottom:1%;
}

.bootstrap-tagsinput input {
    width: 100%;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 18px;
}

    .bootstrap-tagsinput .tag [data-role="remove"]:after {
        content: "\f410";
        font-family: 'Font Awesome 5 Free';
    }
   
/* file input */

.file-drop-zone {
    margin:0;
    padding: 0;
    height:260px;
    overflow-y:auto;
}

.file-preview .fileinput-remove {
    display: none
}

.indicator-loader {
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 99999;
}

.section-pagination {
    margin-top: 1%;
    position: absolute;
    left: 40%;
}