.modal-image-viewer {
    width: 872px;
    margin: auto;
}
.image-detail-col {
    width: 432px;
}

.modal-image-viewer .container {
    display: flex;
    padding-bottom: 15%;
}

    .modal-image-viewer .content {
        margin-right: 3%;
    }


    .modal-image-viewer .image-uploader-wrapper {
        width: 420px;
        border-radius: 3%;
        padding: 1%;
    }

        .modal-image-viewer .image-uploader-wrapper img.main {
            width: 100%;
            height: 100%;
            max-width: 420px;
            max-height: 300px;
            border-radius: 3%;
            object-fit: cover;
        }

    .modal-image-viewer .input-control {
        width: 100%;
        margin-bottom: 5%;
        border: none;
        border-bottom: 1px solid #808080;
        border-radius: 0;
        resize: none;
    }

        .modal-image-viewer .input-control.input-title {
            margin-top: 5%;
        }


    .modal-image-viewer .thumbnail-wrapper {
        width: 80px;
        height: 60px;
        border: none;
        display: inline-block;
    }

        .modal-image-viewer .thumbnail-wrapper img.thumbnail {
            width: 100%;
            height: 100%;
            border-radius: 3%;
        }
            .modal-image-viewer .thumbnail-wrapper img.thumbnail:hover {
                border: 2px solid #35b8e0;
                opacity:0.5;
            }
        .modal-image-viewer .thumbnail-wrapper.active img.thumbnail {
            border: 2px solid #35b8e0;
        }

        .modal-image-viewer .thumbnail-section-wrapper {
            overflow-x: auto;
            white-space: nowrap;
            height: 100%;
            width: 420px;
            margin-top: 5%;
            flex-wrap: wrap;
        }

    .modal-image-viewer .tag-control-container {
        padding-bottom: 5%;
    }

    .modal-image-viewer .btn-save {
        margin-left: 22%;
    }


.dots-image-container {
    margin-left: 90%;
}

    .dots-image-container a,
    .dots-image-container a:hover {
        color: #000000
    }

.left-arrow-container {
    position: fixed;
}

    .left-arrow-container a,
    .left-arrow-container a:hover {
        color: #ffffff
    }

.bootstrap-tagsinput {
    overflow-y: scroll;
    height: 25vh;
    border-radius: 4px;
}

.image-preview {
    width: 100%;
    height: 100%;
    display: none;
}

h5, .h5 {
    margin-left: 45%;
}
/*ssa add 20220527*/
@media screen and (max-width: 640px){
    .arrow-key{
        position: unset;
    }
}
@media screen and (max-width: 929px) {
    .modal-image-viewer {
        width: 436px;
    }
}
.slider {
    width: 640px; /*Same as width of the large image*/
    position: relative;
    /*Instead of height we will use padding*/
    padding: 20px 0; /*That helps bring the labels down*/
}


    /*Last thing remaining is to add transitions*/
    .slider > img {
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.5s;
    }

    .slider input[name='slide_switch'] {
        display: none;
    }

    .slider label {
        /*Lets add some spacing for the thumbnails*/
        margin: 3px 0 0 3px;
        float: left;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        width: 80px;
        height: 65px;
    }

        .slider label img {
            display: block;
        }

    /*Time to add the click effects*/
    .slider input[name='slide_switch']:checked + label {
        border: 2px solid #6485ff;
        opacity: 1;
    }
    /*Clicking any thumbnail now should change its opacity(style)*/
    /*Time to work on the main images*/
    .slider input[name='slide_switch'] ~ img {
        opacity: 0;
        transform: scale(1.1);
    }
    /*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
    .slider input[name='slide_switch']:checked + label + img {
        opacity: 1;
        transform: scale(1);
    }
.hide-lable {
    display:none;
}
#show-all-btn {
    margin:auto;
}