.modal-image-viewer {
    width: 950px;
}

    .modal-image-viewer .container {
        display: flex;
        padding-bottom: 5%;
    }

    .modal-image-viewer .content {
        margin-right: 3%;
    }


    .modal-image-viewer .image-uploader-wrapper {
        width: 420px;
        border: 1px solid #e7ebf0;
        border-radius: 3%;
        padding: 1%;
    }

        .modal-image-viewer .image-uploader-wrapper img.main {
            width: 100%;
            border-radius: 3%;
        }

    .modal-image-viewer .input-control {
        width: 100%;
        margin-bottom: 5%;
        border: none;
        border-bottom: 1px solid #808080;
        border-radius: 0;
    }

        .modal-image-viewer .input-control.input-title {
            margin-top: 10%;
        }


    .modal-image-viewer .thumbnail-wrapper {
        width: 76px;
        height: 50px;
        border: none;
        padding-right: 26%;
        display: inline-block;
    }

        .modal-image-viewer .thumbnail-wrapper img.thumbnail {
            width: 100px;
            border-radius: 3%;
        }
            .modal-image-viewer .thumbnail-wrapper img.thumbnail:hover {
                border: 2px solid #35b8e0;
                opacity:0.5;
            }
        .modal-image-viewer .thumbnail-wrapper.active img.thumbnail {
            border: 2px solid #35b8e0;
        }

        .modal-image-viewer .thumbnail-section-wrapper {
            overflow-x: auto;
            white-space: nowrap;
            height: 115px;
            width: 420px;
            margin-top: 5%;
        }

    .modal-image-viewer .tag-control-container {
        padding-bottom: 5%;
    }

    .modal-image-viewer .btn-save {
        margin-left: 22%;
    }