::-webkit-scrollbar-thumb { background-color: #212529 !important; }

::-webkit-scrollbar-track { background-color: #ab9696 !important; }

.list__album {
    max-height: 300px;
    overflow-y: scroll;
}

.list__album .list-group img { width: 20%; }