body {
  color: #ffffff;
  background-color: #000;
}

.certification-card {
  width: 80vw;
  max-width: 400px;
  min-height: unset;
  margin: clamp(50px, 15vw, 100px) auto;
  position: relative;
  background-color: #000;
}
.login-err-msg {
  position: absolute;
  padding-top: 20px;
  font-size: 15px;
  left: 0;
  width: 100%;
}
.text-align-center {
  text-align: center;
}
.text-register {
  float: right;
  position: relative;
  margin-top: 28px;
  color: #fff;
}
.text-register:hover {
  color: #fff;
}
img.company-banner {
  position: relative;
  margin-top: 8%;
}
.certification {
  text-align: center;
}
.certification a {
  text-decoration: none;
}
.certification a:hover {
  color: #343a40;
}

.certification a h5 {
  padding-top: unset;
  font-size: 0.9rem;
  margin-top: 7%;
}

.btn-default {
  background-color: #343a40;
  border: none;
  border-radius: 8px;
  position: relative;
  color: #eef2f7;
}
.btn-default:hover {
  color: #eef2f7;
}

.btn-login,
.btn-register,
.btn-submit {
  width: 220px;
  height: 35px;
  margin-top: 20%;
}
.input-control {
  padding-top: 0.375rem;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  border: none;
  height: 35px;
}

.certification-card .certification.text-color-white {
  position: relative;
}
.certification .input-control:nth-of-type(1),
.certification .new-password {
  margin-bottom: 30px;
}
input[type='email'] + .field-validation-error,
#NewPassword.new-password + .field-validation-error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 100%;
  top: 36px;
}
.company-logo {
  background-image: url('../images/logo.png');
}
.text-color-white {
  color: #ffffff;
}
.text-color-default {
  color: #343a40;
}

/* ===  修正＠画像アップロード画面[写真を投稿]ボタンhoverでボタン消える  =============== */
input#upload_submit {
  border: 1px solid #fff;
}
input#upload_submit:hover {
  color: #131313;
  border: 1px solid #131313;
}

/* ===============  修正＠写真を多めにアップしようとするとはみ出てしまう  =============== */
/* #image-registration-modal #dropzoneForm {
  overflow-y: scroll;
} */
#image-registration-modal .scrollspy-example {
  height: auto !important;
}
/* ===============  修正＠文字と画像をセンター配置  =============== */
#image-registration-modal #dropzoneForm .dz-message {
  width: calc(100% - 20px);
}
/* ===============  修正＠文字と画像をセンター配置  =============== */

/* #image-viewer-modal #blockGallery{
  position: unset;
}
#image-viewer-modal .modal-image-viewer{
  width: 80vw;
}
#image-viewer-modal .modal-body>.row {
  flex-direction: column;
}
#image-viewer-modal .modal-image-viewer .image-detail-col,
#image-viewer-modal .modal-image-viewer .image-detail-col .slider,
#image-viewer-modal .modal-image-viewer .image-uploader-wrapper{
  width: 100%;
}
#image-viewer-modal .modal-image-viewer .image-uploader-wrapper{
text-align: center;
}
#image-viewer-modal .modal-image-viewer .content {
  margin-right: 0;
}
#image-viewer-modal .modal-image-viewer .dots-image-container {
  margin-left: 0;
  text-align: center;
}
#image-viewer-modal .dots-image-container .dropdown_body{
width: 170px;
} */
/* dotが途中 */
/* ==========  修正＠ファイルアップロード画面高さ  ========== */

/* ===============  ダークモード修正  =============== */
