body {
    color:#ffffff;
    background-color:#000;
}


.certification-card {
    width: 401px;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
    margin-top: 2%;
}

.text-align-center {
    text-align:center;
}

.text-register {
    float: right;
    position: relative;
    margin-top: 28px;
    color: #fff;
}

    .text-register:hover {
        color: #fff;
    }

    img.company-banner {
        position: relative;
        margin-top: 8%;
    }

.certification {
    text-align: center;
}

    .certification a {
        text-decoration: none;
    }

        .certification a:hover {
            color: #343a40;
        }

        .certification .input-control,
        .certification a h5 {
            padding-top: 20%;
            border-radius: 0;
        }

.company-logo {
    background-image: url('../images/logo.png')
}

.input-control {
    border: none;
    border-bottom:1px solid #808080;
}

.text-color-white {
    color: #ffffff;
}

.text-color-default {
    color: #343a40;
}

.btn-default:hover {
    color: #ffffff;
}

.btn-default {
    background-color: #343a40;
    border: none;
    border-radius: 20px;
    position: relative;
    color: #eef2f7
}

.btn-login,
.btn-register,
.btn-submit {
    width: 230px;
    height: 50px;
    margin-top: 20%;
}