
@{
    ViewData["Title"] = "認証";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="content">
    <div class="card certification-card">
        <div class="card-body">
            <form class="certification text-color-white">
                <input type="email" class="form-control input-control useremail" placeholder="メールアドレス" />
                <input type="password" class="form-control input-control password" placeholder="パスワード" />
                <a class="text-color-default" href="">
                    <h5>パスワードを忘れた場合</h5>
                </a>
                <input type="submit" value="ログイン" class="btn btn-default btn-login" />
            </form>
        </div>
    </div>
</div>
