@model nxPinterest.Services.Models.Request.LoginRequest
@{
    ViewData["Title"] = "認証";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="content">
    <div class="card certification-card">
        <div class="card-body">
@*            <div class="form-text text-danger">
                @if (TempData["custom-validation-message"] != null)
                {
                    <span>@TempData["custom-validation-message"]</span>
                }
            </div>
            <div class="form-text text-success">
                @if (TempData["custom-validation-success-message"] != null)
                {
                    <span>@TempData["custom-validation-success-message"]</span>
                }
            </div>*@
            <form class="certification text-color-white" method="post" asp-action="Certify" asp-controller="Account">
                <input type="email" class="form-control input-control useremail" placeholder="メールアドレス" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <input type="password" class="form-control input-control password" placeholder="パスワード" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                @*@if((string)TempData["Message"] != "")
                {
                    <div class="form-text text-danger login-err-msg">
                        @TempData["Message"]
                    </div>
                }*@

                
                <input type="submit" value="ログイン" class="btn btn-default btn-login" />
                @*<a class="text-color-default" href="/account/register">
                    <h5>新規登録</h5>
                </a>*@
                <a class="text-color-default" href="/account/forgotpassword">
                    <h5>パスワードをお忘れですか？</h5>
                </a>
                @if(ViewBag.Message != "")
                {
                    <div class="form-text text-danger login-err-msg">
                        @ViewBag.Message
                    </div>
                }
            </form>
        </div>
    </div>
</div>
