@model nxPinterest.Services.Models.Request.ForgotPasswordRequest
@{
    ViewData["Title"] = "パスワードを忘れた方";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="content">
    <div class="card certification-card">
        <div class="card-body">
@*            <div class="form-text text-danger">
                @if (TempData["custom-validation-message"] != null)
                {
                    <span>@TempData["custom-validation-message"]</span>
                }
            </div>
            <div class="form-text text-success">
                @if (TempData["custom-validation-success-message"] != null)
                {
                    <span>@TempData["custom-validation-success-message"]</span>
                }
            </div>
*@            <form class="certification text-color-white" method="post" asp-action="ForgotPassword" asp-controller="Account">
                <input type="email" class="form-control input-control useremail" asp-for="Email" placeholder="メールアドレス" />
                <span asp-validation-for="Email" class="text-danger"></span>
                
                @*@if((string)TempData["Message"] != "")
                {
                    <div class="form-text text-danger login-err-msg">
                        @TempData["Message"]
                    </div>
                }*@

                <input type="submit" value="パスワードリセット" class="btn btn-default btn-submit" />
                @if(ViewBag.Message != "")
                {
                    <div class="form-text text-success">
                        @ViewBag.Message
                    </div>
                }

                <a class="text-color-default" href="/account/certification">
                    <h5>ログインする</h5>
                </a>
            </form>
        </div>
    </div>
</div>