@model nxPinterest.Services.Models.Request.NormalUserRegistrationRequest
@{
    ViewData["Title"] = "ユーザ登録";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


       
<div class="content mt-3 px-5" style="padding: 30px; padding-left: 10px; height: 100%;">
    <div class="register-body" style="padding:15px;">
        <div class="form-text text-danger">
            @if (TempData["custom-validation-message"] != null)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 mb-3 alert alert-danger alert-dismissible fade show" role="alert">
                    <span>@TempData["custom-validation-message"]</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: none;border-style: none;float: right;">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div><br />
            }
        </div>
        <div class="form-text text-success">
            @if (TempData["custom-validation-success-message"] != null)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 mb-3 alert alert-success alert-dismissible fade show" role="alert">
                    <span>@TempData["custom-validation-success-message"]</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: none;border-style: none;float: right;">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div><br />
            }
        </div>
        <div class="">
        <form class="p-3" method="post" asp-action="NormalUserRegister" asp-controller="Account">
            <div class="col-lg-12  mb-3 row">
                <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                    <label for="username" style="margin-bottom: 0.5rem;">名前</label>
                    <input type="text" class="form-control" asp-for="UserDispName" value="">
                    <input type="hidden" class="form-control" asp-for="container_id">
                </div>
            </div>
            <div class="col-lg-12 mb-3 row">
                <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                    <label for="exampleInputEmail1" style="margin-bottom: 0.5rem;">メールアドレス</label>
                    <input type="email" class="form-control" asp-for="Email">
                </div>
            </div>
@*                        <div class="col-lg-12 mb-3 row">
                <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                    <label for="phoneno" style="margin-bottom: 0.5rem;color: #292121;">連絡先</label>
                    <input type="text" class="form-control" asp-for="PhoneNumber">
                </div>
            </div>*@
            <div class="col-lg-12 mb-3 row">
                <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                    <label for="role" style="margin-bottom: 0.5rem;">権限</label>
                    <select class="form-select"  asp-for="Discriminator">
                        <option selected>一般</option>
                        <option>閲覧</option>
                        <option>管理者</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 mb-3 row">
                <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                    <label for="role" style="margin-bottom: 0.5rem;">にデフォルトビュ</label>
                    <br/>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="customRadio3" asp-for="AlbumMode" class="form-check-input" value=true>
                            <label class="form-check-label" for="customRadio3">アルバムモード</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="customRadio4" asp-for="AlbumMode" class="form-check-input" value=false>
                            <label class="form-check-label" for="customRadio4">フォトモード</label>
                        </div>
                </div>
            </div>
            <div class="col-lg-12 mb-3 row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    @*<button type="button" class="col-4 btn btn-light" style="border-color: #dbdbdb !important;" onclick="window.location='@Url.Action("NormalUserList","account")';">一覧に戻る</button>*@
                    @*<button type="submit" class="col-4 btn btn-primary" id="btn-register">登録</button>*@
                    @*編集ボタン機能*@
                        <button type="button" class="btn btn-default btn-back" onclick="window.location='@Url.Action("NormalUserList","account")';">一覧に戻る</button>                                    
                        <button type="submit" class="btn btn-default btn-create"  id="btn-register">登録</button>
                        @*ssa20220527*@
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
        