@model nxPinterest.Services.Models.Request.SetPasswordRequest
@{
    ViewData["Title"] = "パスワード再設定";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="content">
    <div class="card certification-card">
        <div class="card-body">
            <form class="certification text-color-white" method="post" asp-action="SetPassword" asp-controller="Account">
                <input type="password" class="form-control input-control new-password" asp-for="NewPassword" placeholder="新しいパスワード" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                <input type="password" class="form-control input-control confirm-password" asp-for="ConfirmPassword" placeholder="新しいパスワードの確認" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <input type="submit" value="パスワード設定" class="btn btn-default btn-submit" />
                @if(ViewBag.Message != "")
                {
                <div class="form-text text-success">
                    @ViewBag.Message
                </div>
                }

                <a class="text-color-default" href="/account/certification">
                    <h5>ログインする</h5>
                </a>

                @*<input hidden asp-for="Email" />*@
            </form>
        </div>
    </div>
</div>