@model nxPinterest.Services.Models.Request.SetPasswordRequest
@{
    ViewData["Title"] = "SetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="content">
    <div class="card certification-card">
        <div class="card-body">
            <div class="form-text text-danger">
                @if (TempData["custom-validation-message"] != null)
                {
                    <span>@TempData["custom-validation-message"]</span>
                }
            </div>
            <form class="certification text-color-white" method="post" asp-action="SetPassword" asp-controller="Account">
                <input type="password" class="form-control input-control new-password" asp-for="NewPassword" placeholder="新しいパスワード" />
                <div class="form-text text-danger">
                    @Html.ValidationMessageFor(c => c.NewPassword)
                </div>
                <input type="password" class="form-control input-control confirm-password" asp-for="ConfirmPassword" placeholder="新しいパスワードの確認" />
                <div class="form-text text-danger">
                    @Html.ValidationMessageFor(c => c.ConfirmPassword)
                </div>

                <input type="submit" value="パスワード設定" class="btn btn-default btn-submit" />
            </form>
        </div>
    </div>
</div>