@model nxPinterest.Services.Models.Request.UserContainerRegistrationRequest
@{
    ViewData["Title"] = "コンテナ登録";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="register-body">
    <form class="p-3" method="post" asp-action="UserContainerRegister" asp-controller="account">
        <div class="col-lg-12 row">
            <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                <label for="containername" style="margin-bottom: 0.5rem;">コンテナ名</label>
                <input type="text" class="form-control" asp-for="container_name">
                    <div class="form-text text-danger">@Html.ValidationMessageFor(c => c.container_name)</div>
            </div>
        </div>
        <div class="col-lg-12 mb-3 row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                @*<button type="submit" class="col-4 btn btn-primary" id="btn-register">登録</button>*@
                @*編集ボタン機能 ssa20220527*@
                    <button type="submit" class="btn btn-default btn-create userregister">登録</button>    
            </div>
        </div>
    </form>
</div>
