<div class="modal fade text-black" tabindex="-1" role="dialog" id="editUserMediaFolderModal" aria-labelledby="editUserMediaFolderModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">アルバム名の変更</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" class="form-control" id="oldAlbumName">
                        <input type="text" class="form-control" id="newAlbumName" placeholder="新しいアルバム">
                        <span class="text-danger" id="error_album" style="font-size: 15px"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0" style="display: flex; justify-content: space-between;">
                <button type="button" class="btn btn-primary" id="removeFolder">削除</button>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-primary" id="btnEditAlbum">保存 </button>
                </div>
            </div>
        </div>
    </div>
</div>