
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="thumbnail-container">
    <a href="" data-toggle="modal" data-target="#image-viewier-modal">
        <div class="text-wrapper">
            <div class="img-title">
                <p>Facilisi morbi tempus iaculis...</p>
            </div>
            <div class="img-description">
                <p>Facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Dui accumsan sit amet nulla facilisi morbi tempus iaculis...</p>
            </div>

        </div>
        <div class="img-container">
            <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" />
        </div>
    </a>
</div>
