@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="modal fade" id="image-viewier-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-image-viewer" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="content text-align-center ">
                                <div class="row">
                                    <div class="col">
                                        <div class="image-uploader-wrapper">
                                            <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" class="main" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="thumbnail-wrapper">
                                            <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" class="thumbnail" />
                                        </div>
                                        <div class="thumbnail-wrapper">
                                            <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" class="thumbnail" />
                                        </div>
                                        <div class="thumbnail-wrapper">
                                            <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" class="thumbnail" />
                                        </div>
                                        <div class="thumbnail-wrapper">
                                            <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" class="thumbnail" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <input type="text" class="form-control input-control input-title" placeholder="田代歯科医院" />
                                <textarea rows="3" class="form-control input-control input-explanation" placeholder="ここは説明です。ここは説明です。ここは説明です。ここは説明です。ここは説明です。ここは説明です。ここは説明です。"></textarea>

                                <div class="tag-control-container">
                                    <p class="text-black tag-text">Project Tag</p>
                                    <input class="form-control text-black" data-role="tagsinput" />
                                </div>

                                <div class="tag-control-container">
                                    <p class="text-black tag-text">Photo Tag</p>
                                    <input class="form-control text-black" data-role="tagsinput" />
                                </div>


                                <input type="submit" value="写真を投稿" class="btn btn-default btn-save" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
