@model nxPinterest.Services.Models.Request.ImageRegistrationRequests

<script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"  asp-append-version="true"></script>
<script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"  asp-append-version="true"></script>
<script src="~/lib/bootstrap-fileinput/js/locales/LANG.js" asp-append-version="true"></script>


<div class="modal fade" id="image-registration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-registration" role="document">
        <form method="post" id="image-registration-form" enctype="multipart/form-data" asp-action="UploadMediaFile" asp-controller="ImageManagement">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="content text-align-center ">
                                    <div class="row">
                                        <div class="col">
                                            <div class="image-uploader-wrapper">
                                                <input type="file" multiple class="form-control file" asp-for="Images" accept="image/*" />
                                                <div class="form-text text-danger">
                                                    @Html.ValidationMessageFor(c => c.Images)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <input type="text" class="form-control input-control input-title" placeholder="タイトル" asp-for="Title" />
                                    <div class="form-text text-danger">
                                        @Html.ValidationMessageFor(c => c.Title)
                                    </div>
                                    <textarea rows="3" class="form-control input-control input-explanation" placeholder="説明" asp-for="Description"></textarea>

                                    <div class="tag-control-container">
                                        <p class="text-black tag-text">Project Tag</p>
                                        <input class="form-control text-black" data-role="tagsinput" asp-for="ProjectTags"/>
                                    </div>

                                    <input hidden asp-for="PhotoTags" />
                                    <input hidden asp-for="UserCreated" />
                                    <input hidden asp-for="DateTimeUploaded" />

                                    <input type="button" value="写真を投稿" class="btn btn-default btn-save" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
        (function () {
            function configureFileUploadControl() {
                $('input[name="Images"]').fileinput({
                    allowedFileTypes: ['image'],
                    initialPreviewAsData: true,
                    overwriteInitial: true,
                    browseOnZoneClick: true,
                    showUpload: false,
                    showBrowse: false,
                    showCaption: false,
                    showRemove: false
                });
            }

            $('input.btn-save').on('click', function () {
                var formData = new FormData(document.querySelector('#image-registration-form'))
               
                showLoader();
                $.ajax({
                    url: '@Url.Action("UploadMediaFile", "ImageManagement")',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (sResponse) {
                        window.location.reload();
                    }
                });
            });

           configureFileUploadControl();
        }());
</script>