@model ImageRegisterViewModel

<div class="modal fade" id="image-registration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-registration " role="document">
        <div class="modal-content">
            <div class="modal-body bg-white">
                <div class="row h-100">
                    <div class="col-12 col-md-6  ">
                        <div class="boder-form-dropzone ">
                            <div class="scrollspy-example scrollbar-dropzone" data-bs-spy="scroll">
                                <!-- Dropzone Start -->
                                <form asp-action="UploadMediaFile" asp-controller="UserMedia" method="post" enctype="multipart/form-data" class="form-horizontal dropzone h-100 " name="dropzoneForm" id="dropzoneForm">
                                    <div class="form-group form-actions">
                                        <div class="fallback "></div>
                                        <input type="file" name="Images" id="upfiles" style="display: none;" multiple />
                                        <input type="hidden" name="Title" id="title_image" />
                                        <input type="hidden" name="Description" id="description_image" />
                                        <input type="hidden" name="OriginalTags" id="project_tags_image" />
                                        <input type="hidden" name="BtnName" id="btn_name" />
                                    </div>
                                </form>
                                <!-- Dropzone End -->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control input-control input-title px-0" placeholder="写真のタイトル" asp-for="Title" />
                        <div class="form-text text-danger mt-4">
                            @Html.ValidationMessageFor(c => c.Title)
                        </div>
                        <textarea rows="2" class="form-control input-control input-title px-0" placeholder="説明" asp-for="Description"></textarea>
                        @*<input type="text" class="form-control input-control input-title px-0" placeholder="説明" asp-for="Description" />*@
                        <div class="form-text text-danger mt-4">
                            @Html.ValidationMessageFor(c => c.Description)
                        </div>

                        <div class="tag-control-container" id="style">
                            <div style="color: #4d4d4d; margin-top:10px;"><i class="bi bi bi-tag"></i>よく使うタグ</div>
                            <div class="original_tags" style="margin-bottom:10px;">
                                @if (Model.SuggestTagsList != null)
                                {
                                    @foreach (var tag in @Model.SuggestTagsList)
                                    {
                                        <div onclick=inputTags("@tag") style="display:inline-block;color:#4d4d4d;border-radius:3px;padding:3px;margin:1px 3px;">#@tag</div>
                                    }
                                }
                            </div>
                            @*<p class="tag-text" style="color: #adb5bd; ">タグ</p>*@
                            <input data-role="tagsinput" asp-for="OriginalTags" />
                        </div>
                        @*
                        <input hidden asp-for="PhotoTags" />
                        <input hidden asp-for="UserCreated" />
                        <input hidden asp-for="Uploaded" />
                        *@
                        <div class="text-center">
                            <input type="button" value="写真を投稿" class="btn btn-default btn-save" id="upload_submit" form="dropzoneForm" />
                        </div> <br>
                        <div class="text-center" style="margin-top:10px;margin-bottom:10px">
                            <input type="button" value="個別編集" id="kobetsu_submit" form="dropzoneForm" style="border-style: none; background: #fff; font-weight: bold;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js" asp-append-version="true"></script>
<script>
    /* DropZone */
    function myParamName() {
        return "upfiles";
    }
    var imageFile = null;
    Dropzone.options.dropzoneForm = {
        paramName: myParamName,
        autoProcessQueue: false,
        uploadMultiple: true,
        init: function () {
            var myDropzone = this;
            $("#upload_submit").click(function (e) {
                showLoadingIndicator();
                this.disabled = true;

                allFiles = myDropzone.getAcceptedFiles();
                if (allFiles.length > 0) {
                    inputFiles = document.getElementById("upfiles");
                    const dt = new DataTransfer();
                    for (i = 0; i < allFiles.length; i++) {
                        dt.items.add(allFiles[i]);
                    }
                    inputFiles.files = dt.files;
                }
                e.preventDefault();
                e.stopPropagation();
                myDropzone.processQueue();

                $("#title_image").val($("#Title").val());
                $("#description_image").val($("#Description").val());
                $("#project_tags_image").val($("#OriginalTags").val());
                $("#btn_name").val("upload");


                if ($("#upfiles").val() == "") {
                    alert("写真を選択してください。");
                    hideLoadingIndicator();
                    this.disabled = false;
                    return false;
                }
                else if ($("#title_image").val() == "") {
                    alert("写真のタイトルを入力してください。");
                    hideLoadingIndicator();
                    this.disabled = false;
                    return false;
                }
                else {
                    $('#dropzoneForm').submit();
                }
            });

            $("#kobetsu_submit").click(function (e) {
                showLoadingIndicator();
                this.disabled = true;

                allFiles = myDropzone.getAcceptedFiles();
                if (allFiles.length > 0) {
                    inputFiles = document.getElementById("upfiles");
                    const dt = new DataTransfer();
                    for (i = 0; i < allFiles.length; i++) {
                        dt.items.add(allFiles[i]);
                    }
                    inputFiles.files = dt.files;
                }
                e.preventDefault();
                e.stopPropagation();
                myDropzone.processQueue();

                $("#title_image").val($("#Title").val());
                $("#description_image").val($("#Description").val());
                $("#project_tags_image").val($("#OriginalTags").val());
                $("#btn_name").val("kobetsu");

                if ($("#upfiles").val() == "") {
                    alert("写真を選択してください。");
                    hideLoadingIndicator();
                    return false;
                }
                else if ($("#title_image").val() == "") {
                    alert("写真のタイトルを入力してください。");
                    hideLoadingIndicator();
                    return false;
                }
                else {
                    $('#dropzoneForm').submit();
                }
            });
        },
        accept: function (file, done) {
            done();
        }
    };
    function inputTags(value) {
        $('#OriginalTags').tagsinput('add', value);
    }
</script>