<div class="modal fade text-black" id="createUserMediaFolderModal" tabindex="-1" role="dialog" aria-labelledby="createUserMediaFolderModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title w-100 text-center ">アルバムに追加</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body" id="mediaFolderContent">
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-black" id="shareUserMediaFileModal" tabindex="-1" role="dialog" aria-labelledby="shareUserMediaFileModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title w-100 text-center ">写真を外部と共有する</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>

            </div>
            <div class="modal-body">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="lblDate" class="col-form-label">
                            共有期限
                        </label>
                    </div>
                    <div class="col-auto mx-auto">
                        <div class="input-group input-medium date date-picker" data-provide="datepicker">
                            <span class="input-group-btn" style="font-size: 0; white-space: nowrap;vert-align: middle">
                                <button class="btn default" type="button" style="color: #666; background-color: #e1e5ec; border-color: #e1e5ec;border-radius: 0 ">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control" id="expireDate" readonly="" style="border-color: #e1e5ec;border-radius: 0 ">

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <div class="btn-group mr-4" style="margin-right:85px">
                        <button type="button" id="sharedAlbumMedia" class="btn btn-outline-secondary btn-md text-center">
                            共有する
                        </button>
                    </div>

                </div>

                <div id="footerUserMediaLink">
                    <div class="clearfix"></div>
                    <hr class="mb-5">
                    <div class="d-flex justify-content-center mt-3">
                        <input type="text" class="form-control" id="shareUserMediaFileLink">
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="btn-group mr-4" style="margin-right:50px">
                            <button type="button" id="copyLinkMedia" class="btn btn-outline-secondary btn-md text-center" data-toggle="tooltip" data-placement="top" title="コピーする">
                                コピーする <i class="fa fa-copy" aria-hidden="true"></i>

                            </button>
                            <div id="tooltipCopy" data-toggle="tooltip" data-placement="top" title="リンクが共有されました。"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-black" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center" style="font-weight: normal;">削除してよろしいですか</h3>
            </div>
            <div class="modal-footer pt-0">
                <button type="button" class="btn" data-bs-dismiss="modal">いいえ</button>
                <button type="button" class="btn btn-primary" onclick="deleteUserMediaFile();">はい</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-black" id="showPreviewImageModal" tabindex="-1" role="dialog" aria-labelledby="showPreviewImageModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body" id="previewImageArea">
                <img id="previewImage" style="width:100%; height:100%">
            </div>
        </div>
    </div>
</div>

<iframe id="iframeDownload1" style="display: none"></iframe>
<iframe id="iframeDownload2" style="display: none"></iframe>
<iframe id="iframeDownload3" style="display: none"></iframe>

<script>
	window.page = 1;
    window.pageAlbum = 1;
    window.isFullImage = true;
    window.fullAlbumName = "";
    window.isLoadAlbum = false;
    window.images = new Array();
    window.imagesAlbum = new Array();
    window.itemWidth = 250;
    $(document).ready(function() {
        $(window).css('min-width', 500);
        initCol();
        if (window.isFullImage) {
            loadImg();
        } else {
            loadImgByName(window.fullAlbumName);
        }
        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() == $(document).height()) {
                if (window.isFullImage) {
                    loadImg();
                } else {
                    loadImgByName(window.fullAlbumName);
                }

            }
        });
        var timer = null;
        $(window).on('resize', function(){
            clearTimeout(timer);
            timer = setTimeout(function() {
                if (window.isFullImage) {
                    reloadImage();
                } else {
                    reloadImageAlbum();
                }
            },300);
        });
    });
    function getColNum(itemWidth) {
        var col_num = Math.floor($(window).width() / itemWidth);
        return col_num;
    }
    function initCol() {
        var itemWidth = window.itemWidth;
        $("#thumbnail-container").empty();
        var col_num = getColNum(itemWidth);
        var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var space = Math.floor((width % itemWidth)/2) + 8;
        for (var i = 1; i <= col_num; i++) {
            var paddingItem = 4;
            var padding = paddingItem * 2;
            var leftSize = ((itemWidth - paddingItem) * (i - 1) + space);
            $('#thumbnail-container').append('<div id="column-'+i+'" class="image-col" style="position:absolute; width:' + itemWidth +'px; padding:' + padding + 'px;left:'+ leftSize +'px;"></div>');
        }
    }
    function reloadImage() {
        initCol();
        window.images.forEach(function (data) {
            data.forEach(function (value) {
                appendData(value);
            });
        });
    }
    function reloadImageAlbum() {
        initCol();
        window.imagesAlbum.forEach(function (data) {
            data.forEach(function (value) {
                appendData(value);
            });
        });
    }
    function appendData(value) {
        var newImgEl = document.createElement('img');
        var previewButtonEl = '<span class="previewButton" onclick="showPreviewImage(\'' + value.mediaSmallUrl  + '\')"><i class="bi bi-zoom-in fa-lg px-2"></i></span>';
        newImgEl.addEventListener('load', function() {
            shortest = findShortestCol();
            shortest.append('<figure id="'+value.mediaId+'"><figcaption><p class="title">'+value.mediaTitle+'</p><p class="description">'+value.mediaDescription+'</p></figcaption></figure>');
            var figureItemEle = $('figure[id="' + value.mediaId + '"]');
            figureItemEle.append(newImgEl);
            figureItemEle.append(previewButtonEl);
        });
        newImgEl.setAttribute('src', value.mediaThumbnailUrl);
        newImgEl.setAttribute('alt', value.mediaFileName);
        newImgEl.setAttribute('data-media-url', value.mediaUrl);
        newImgEl.setAttribute('data-smallmedia-url', value.mediaSmallUrl);
    }
    function findShortestCol() {
        var count = $("#thumbnail-container").children().length;
        var shortest = $("#column-1");
        for (var i = 1; i <= count; i++) {
            if (Math.floor(shortest.height()) > Math.floor($("#column-"+ i +"").height())) {
                shortest = $("#column-" + i + "");
            }
        }
        return shortest;
    }
    function onViewUserMediaDetails(media_id) {
        $("#imagePreview").html("");
        window.isFullImage = true;
        OnGetUserMediaDetails(media_id).then(function (html) {
            $("#contentGallery").hide();
            $("#sectionPagination").hide();
            $(".add-image-container").hide();

            $("#imagePreview").append(html);
            $("#imagePreview").show();
        });
    }

    async function OnGetUserMediaDetails(media_id) {
        var promise = await new Promise(function (resolve, reject) {
            $.ajax({
                url: "@Url.Action("Details", "UserMedia")",
                method: "Post",
                data: { media_id },
                success: function (sResult) {
                    resolve(sResult);
                }
            });
        });

        return promise;
    }

    function ShowHomeImageContainer() {
        $("#imagePreview").hide();
        $("#imagePreview").html("");
        $(".add-image-container").show();
        $("#sectionPagination").show();
        $("#contentGallery").show();
    }

    function getCurrentZoomRange() {
        var changeZoomRange = document.getElementById("changeZoomRange");
        return Number(changeZoomRange.value);
    }

    function changeZoom() {
        var zoomSize = getCurrentZoomRange();
        var rangeWidth = 50;
        window.itemWidth = 100 + rangeWidth * zoomSize;

        var timer = null;
        clearTimeout(timer);
        timer = setTimeout(function () {
            if (window.isFullImage) {
                reloadImage();
            } else {
                reloadImageAlbum();
            }
        }, 300);
    }

    function changeZoomOut() {
        var zoomSize = getCurrentZoomRange();
        if (zoomSize <= 0) {
            return;
        }
        document.getElementById("changeZoomRange").value = zoomSize - 1;
        changeZoom();
    }

    function changeZoomIn() {
        var zoomSize = getCurrentZoomRange();
        if (zoomSize >= 6) {
            return;
        }
        document.getElementById("changeZoomRange").value = zoomSize + 1;
        changeZoom();
    }
</script>
