@model nxPinterest.Services.Models.Request.ImageRegistrationRequests
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="modal fade" id="image-registration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-registration" role="document">
        <form method="post" enctype="multipart/form-data" asp-action="UploadMediaFile" asp-controller="ImageManagement">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="content text-align-center ">
                                    <div class="row">
                                        <div class="col">
                                            <div class="image-uploader-wrapper">
                                                <input type="file" multiple class="form-control" asp-for="Images" accept="image/*" />
                                                <div class="form-text text-danger">
                                                    @Html.ValidationMessageFor(c => c.Images)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="thumbnail-wrapper">
                                                <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" class="thumbnail" />
                                            </div>
                                            <div class="thumbnail-wrapper">
                                                <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" class="thumbnail" />
                                            </div>
                                            <div class="thumbnail-wrapper">
                                                <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" class="thumbnail" />
                                            </div>
                                            <div class="thumbnail-wrapper">
                                                <img src="https://i.pinimg.com/originals/66/d9/f5/66d9f5afdc5337d3f9eac362b970c426.jpg" class="thumbnail" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <input type="text" class="form-control input-control input-title" placeholder="タイトル" asp-for="Title" />
                                    <div class="form-text text-danger">
                                        @Html.ValidationMessageFor(c => c.Title)
                                    </div>
                                    <textarea rows="3" class="form-control input-control input-explanation" placeholder="説明" asp-for="Description"></textarea>

                                    <div class="tag-control-container">
                                        <p class="text-black tag-text">Project Tag</p>
                                        <input class="form-control text-black" data-role="tagsinput" asp-for="ProjectTags"/>
                                    </div>

                                    <input hidden asp-for="PhotoTags" />
                                    <input hidden asp-for="UserCreated" />
                                    <input hidden asp-for="DateTimeUploaded" />

                                    <input type="submit" value="写真を投稿" class="btn btn-default btn-save" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>