<div class="modal fade text-black" tabindex="-1" role="dialog" id="removeUserMediaFolderModal" aria-labelledby="editUserMediaFolderModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">アルバム削除</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">                     
                        <h5 class="text-dark" id="album_name" />
                        <span class="text-danger" id="error_album" style="font-size: 15px"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" id="btnRemoveAlbum">削除 </button>
            </div>
        </div>
    </div>
</div>