
@media only screen and (max-width:319px) {
    .content_album {
        padding-top: 60px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
    .content_album {
        padding-top: 55px;
    }
}
@media only screen and (min-width: 360px) and (max-width: 499px) {
    .content_album {
        padding-top: 35px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
    .content_album {
        padding-top: 29px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 740px) {
    .content_album {
        padding-top: 30px;
    }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .content_album {
        padding-top: 2px;
    }
}

