
@{
    ViewData["Title"] = "Detail Album";
    Layout = "~/Views/Shared/_LayoutAlbum.cshtml";
}
<style>
    .previewButton{
        text-align:right !important;
    }
</style>
<div id="blockGallery" class="multiImageSelect-noselect">
    <div class="m-3">
        <div class="content gallery" id="contentGallery">
            <div class="thumbnail-container" id="thumbnail-container">
                <div id="column-1" class="image-col" style="position: absolute; width: 250px; padding: 8px; left: 16px;">
                    <figure id="392">
                        <figcaption>
                            <p class="title">picture3</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106194126976_9be4b976ea204b5186269ff58d7a78e5.jpg"
                            alt="20221106194126976_9be4b976ea204b5186269ff58d7a78e5"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106194126976_9be4b976ea204b5186269ff58d7a78e5.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106194126976_9be4b976ea204b5186269ff58d7a78e5.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106194126976_9be4b976ea204b5186269ff58d7a78e5.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="386">
                        <figcaption>
                            <p class="title">Test2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106184523834_cc58a17d812b42c48d19770fd0fd16df.jpg"
                            alt="20221106184523834_cc58a17d812b42c48d19770fd0fd16df"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106184523834_cc58a17d812b42c48d19770fd0fd16df.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184523834_cc58a17d812b42c48d19770fd0fd16df.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184523834_cc58a17d812b42c48d19770fd0fd16df.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="380">
                        <figcaption>
                            <p class="title">gazouSub1</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106183629400_e67e5d7281c44c1b8774647d9221d2a7.jpg"
                            alt="20221106183629400_e67e5d7281c44c1b8774647d9221d2a7"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106183629400_e67e5d7281c44c1b8774647d9221d2a7.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106183629400_e67e5d7281c44c1b8774647d9221d2a7.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106183629400_e67e5d7281c44c1b8774647d9221d2a7.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="374">
                        <figcaption>
                            <p class="title">picture2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106165152609_9312468530be42a3a0f6d840a80f8abe.jpg"
                            alt="20221106165152609_9312468530be42a3a0f6d840a80f8abe"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106165152609_9312468530be42a3a0f6d840a80f8abe.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165152609_9312468530be42a3a0f6d840a80f8abe.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165152609_9312468530be42a3a0f6d840a80f8abe.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="368">
                        <figcaption>
                            <p class="title">Test</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106114722193_6c0cca1cb6034fad9d1aa350cf7ec155.jpg"
                            alt="20221106114722193_6c0cca1cb6034fad9d1aa350cf7ec155"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106114722193_6c0cca1cb6034fad9d1aa350cf7ec155.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106114722193_6c0cca1cb6034fad9d1aa350cf7ec155.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106114722193_6c0cca1cb6034fad9d1aa350cf7ec155.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                </div>
                <div id="column-2" class="image-col" style="position: absolute; width: 250px; padding: 8px; left: 262px;">
                    <figure id="391" class="">
                        <figcaption>
                            <p class="title">gazou4</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106193534334_aee73effaa13468e99c9514583e2f8c1.jpg"
                            alt="20221106193534334_aee73effaa13468e99c9514583e2f8c1"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106193534334_aee73effaa13468e99c9514583e2f8c1.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106193534334_aee73effaa13468e99c9514583e2f8c1.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106193534334_aee73effaa13468e99c9514583e2f8c1.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="385">
                        <figcaption>
                            <p class="title">Test2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106184508194_c5648d7e14b44727bed37b7c490826b2.jpg"
                            alt="20221106184508194_c5648d7e14b44727bed37b7c490826b2"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106184508194_c5648d7e14b44727bed37b7c490826b2.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184508194_c5648d7e14b44727bed37b7c490826b2.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184508194_c5648d7e14b44727bed37b7c490826b2.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="379">
                        <figcaption>
                            <p class="title">gazouSub1</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106183514328_ac2026791cd54f43996400f6ab87def0.jpg"
                            alt="20221106183514328_ac2026791cd54f43996400f6ab87def0"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106183514328_ac2026791cd54f43996400f6ab87def0.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106183514328_ac2026791cd54f43996400f6ab87def0.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106183514328_ac2026791cd54f43996400f6ab87def0.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="373">
                        <figcaption>
                            <p class="title">pics</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106165148675_cdcf8c1b7a464c6eba91f66b0098b8a8.jpg"
                            alt="20221106165148675_cdcf8c1b7a464c6eba91f66b0098b8a8"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106165148675_cdcf8c1b7a464c6eba91f66b0098b8a8.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165148675_cdcf8c1b7a464c6eba91f66b0098b8a8.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165148675_cdcf8c1b7a464c6eba91f66b0098b8a8.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="367">
                        <figcaption>
                            <p class="title">test 2</p>
                            <p class="description">test 2</p>
                        </figcaption>
                        <img
                            src="https://starsestorage.blob.core.windows.net/demoimg/3/thumb/20221031125447967_2a0c3363aa9848888a3198140eca235e.jpg"
                            alt="20221031125447967_2a0c3363aa9848888a3198140eca235e"
                            data-media-url="https://starsestorage.blob.core.windows.net/demoimg/3/original/20221031125447967_2a0c3363aa9848888a3198140eca235e.jpg"
                            data-smallmedia-url="https://starsestorage.blob.core.windows.net/demoimg/3/small/20221031125447967_2a0c3363aa9848888a3198140eca235e.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://starsestorage.blob.core.windows.net/demoimg/3/small/20221031125447967_2a0c3363aa9848888a3198140eca235e.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                </div>
                <div id="column-3" class="image-col" style="position: absolute; width: 250px; padding: 8px; left: 508px;">
                    <figure id="390" class="">
                        <figcaption>
                            <p class="title">gazou4</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106193520713_f8ba17a46e7541fa9fce2c79c384719b.jpg"
                            alt="20221106193520713_f8ba17a46e7541fa9fce2c79c384719b"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106193520713_f8ba17a46e7541fa9fce2c79c384719b.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106193520713_f8ba17a46e7541fa9fce2c79c384719b.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106193520713_f8ba17a46e7541fa9fce2c79c384719b.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="384">
                        <figcaption>
                            <p class="title">Test2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106184453531_c6cef1458ca545f3846e2434096098aa.jpg"
                            alt="20221106184453531_c6cef1458ca545f3846e2434096098aa"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106184453531_c6cef1458ca545f3846e2434096098aa.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184453531_c6cef1458ca545f3846e2434096098aa.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184453531_c6cef1458ca545f3846e2434096098aa.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="378">
                        <figcaption>
                            <p class="title">gazou2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106181812080_43acece6f911467dabb93273ef1df9b8.jpg"
                            alt="20221106181812080_43acece6f911467dabb93273ef1df9b8"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106181812080_43acece6f911467dabb93273ef1df9b8.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106181812080_43acece6f911467dabb93273ef1df9b8.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106181812080_43acece6f911467dabb93273ef1df9b8.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="372">
                        <figcaption>
                            <p class="title">picture1</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106165145816_5dc8720ef5f94ee69517250c358afcc9.jpg"
                            alt="20221106165145816_5dc8720ef5f94ee69517250c358afcc9"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106165145816_5dc8720ef5f94ee69517250c358afcc9.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165145816_5dc8720ef5f94ee69517250c358afcc9.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165145816_5dc8720ef5f94ee69517250c358afcc9.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="364">
                        <figcaption>
                            <p class="title">food 2</p>
                            <p class="description">food 2</p>
                        </figcaption>
                        <img
                            src="https://starsestorage.blob.core.windows.net/demoimg/3/thumb/20221027114729407_a90beb1436494e87a9959d89e88a9d37.jpg"
                            alt="20221027114729407_a90beb1436494e87a9959d89e88a9d37"
                            data-media-url="https://starsestorage.blob.core.windows.net/demoimg/3/original/20221027114729407_a90beb1436494e87a9959d89e88a9d37.jpg"
                            data-smallmedia-url="https://starsestorage.blob.core.windows.net/demoimg/3/small/20221027114729407_a90beb1436494e87a9959d89e88a9d37.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://starsestorage.blob.core.windows.net/demoimg/3/small/20221027114729407_a90beb1436494e87a9959d89e88a9d37.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                </div>
                <div id="column-4" class="image-col" style="position: absolute; width: 250px; padding: 8px; left: 754px;">
                    <figure id="389" class="">
                        <figcaption>
                            <p class="title">Test2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106184730189_1a6652f18f944be982ebbff20c04962a.jpg"
                            alt="20221106184730189_1a6652f18f944be982ebbff20c04962a"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106184730189_1a6652f18f944be982ebbff20c04962a.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184730189_1a6652f18f944be982ebbff20c04962a.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184730189_1a6652f18f944be982ebbff20c04962a.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="383">
                        <figcaption>
                            <p class="title">Test2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106184450114_67be526743334b87a9f15c363e04a9cf.jpg"
                            alt="20221106184450114_67be526743334b87a9f15c363e04a9cf"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106184450114_67be526743334b87a9f15c363e04a9cf.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184450114_67be526743334b87a9f15c363e04a9cf.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184450114_67be526743334b87a9f15c363e04a9cf.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="377">
                        <figcaption>
                            <p class="title">gazouSub1</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106180612107_318f34f090374596a04071c1a9501df0.jpg"
                            alt="20221106180612107_318f34f090374596a04071c1a9501df0"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106180612107_318f34f090374596a04071c1a9501df0.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106180612107_318f34f090374596a04071c1a9501df0.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106180612107_318f34f090374596a04071c1a9501df0.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="371">
                        <figcaption>
                            <p class="title">Test</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106114733495_4023fb0020d74b28ab5e836d712c1192.jpg"
                            alt="20221106114733495_4023fb0020d74b28ab5e836d712c1192"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106114733495_4023fb0020d74b28ab5e836d712c1192.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106114733495_4023fb0020d74b28ab5e836d712c1192.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106114733495_4023fb0020d74b28ab5e836d712c1192.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="363">
                        <figcaption>
                            <p class="title">food 1</p>
                            <p class="description">food 1</p>
                        </figcaption>
                        <img
                            src="https://starsestorage.blob.core.windows.net/demoimg/3/thumb/20221027114706559_2ed368cdae884c418d9f276995cdc154.jpg"
                            alt="20221027114706559_2ed368cdae884c418d9f276995cdc154"
                            data-media-url="https://starsestorage.blob.core.windows.net/demoimg/3/original/20221027114706559_2ed368cdae884c418d9f276995cdc154.jpg"
                            data-smallmedia-url="https://starsestorage.blob.core.windows.net/demoimg/3/small/20221027114706559_2ed368cdae884c418d9f276995cdc154.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://starsestorage.blob.core.windows.net/demoimg/3/small/20221027114706559_2ed368cdae884c418d9f276995cdc154.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                </div>
                <div id="column-5" class="image-col" style="position: absolute; width: 250px; padding: 8px; left: 1000px;">
                    <figure id="388" class="selection-border">
                        <figcaption>
                            <p class="title">Test2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106184722147_da693396235142cf8574d143fe453244.jpg"
                            alt="20221106184722147_da693396235142cf8574d143fe453244"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106184722147_da693396235142cf8574d143fe453244.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184722147_da693396235142cf8574d143fe453244.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184722147_da693396235142cf8574d143fe453244.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="382">
                        <figcaption>
                            <p class="title">Test2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106184447709_b265c310dfba4adabd0fb14f9cf07cd0.jpg"
                            alt="20221106184447709_b265c310dfba4adabd0fb14f9cf07cd0"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106184447709_b265c310dfba4adabd0fb14f9cf07cd0.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184447709_b265c310dfba4adabd0fb14f9cf07cd0.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184447709_b265c310dfba4adabd0fb14f9cf07cd0.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="376">
                        <figcaption>
                            <p class="title">gazou3</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106165159384_5588e66864a24732a3b888828938cdda.jpg"
                            alt="20221106165159384_5588e66864a24732a3b888828938cdda"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106165159384_5588e66864a24732a3b888828938cdda.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165159384_5588e66864a24732a3b888828938cdda.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165159384_5588e66864a24732a3b888828938cdda.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="370">
                        <figcaption>
                            <p class="title">Test</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106114730432_90502f1577de456bb4d52aa50ccd9ca0.jpg"
                            alt="20221106114730432_90502f1577de456bb4d52aa50ccd9ca0"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106114730432_90502f1577de456bb4d52aa50ccd9ca0.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106114730432_90502f1577de456bb4d52aa50ccd9ca0.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106114730432_90502f1577de456bb4d52aa50ccd9ca0.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                </div>
                <div id="column-6" class="image-col" style="position: absolute; width: 250px; padding: 8px; left: 1246px;">
                    <figure id="387">
                        <figcaption>
                            <p class="title">Test2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106184710288_246ff7d780624f4ea1500c79cac2798e.jpg"
                            alt="20221106184710288_246ff7d780624f4ea1500c79cac2798e"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106184710288_246ff7d780624f4ea1500c79cac2798e.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184710288_246ff7d780624f4ea1500c79cac2798e.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184710288_246ff7d780624f4ea1500c79cac2798e.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="381">
                        <figcaption>
                            <p class="title">Test2</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106184444745_d6d6c15819334361996bf00284044484.jpg"
                            alt="20221106184444745_d6d6c15819334361996bf00284044484"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106184444745_d6d6c15819334361996bf00284044484.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184444745_d6d6c15819334361996bf00284044484.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106184444745_d6d6c15819334361996bf00284044484.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="375">
                        <figcaption>
                            <p class="title">gazou1</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106165155244_699c98bd3caa47559e955861f4134ef9.jpg"
                            alt="20221106165155244_699c98bd3caa47559e955861f4134ef9"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106165155244_699c98bd3caa47559e955861f4134ef9.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165155244_699c98bd3caa47559e955861f4134ef9.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106165155244_699c98bd3caa47559e955861f4134ef9.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                    <figure id="369">
                        <figcaption>
                            <p class="title">Test</p>
                            <p class="description"></p>
                        </figcaption>
                        <img
                            src="https://pinteresttest.blob.core.windows.net/demoimg/3/thumb/20221106114725506_b19035532849445d81699ebfcd497011.jpg"
                            alt="20221106114725506_b19035532849445d81699ebfcd497011"
                            data-media-url="https://pinteresttest.blob.core.windows.net/demoimg/3/original/20221106114725506_b19035532849445d81699ebfcd497011.jpg"
                            data-smallmedia-url="https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106114725506_b19035532849445d81699ebfcd497011.jpg"
                        />
                        <span class="previewButton" onclick="showPreviewImage('https://pinteresttest.blob.core.windows.net/demoimg/3/small/20221106114725506_b19035532849445d81699ebfcd497011.jpg')">
                            <i class="bi bi-zoom-in fa-lg px-2"></i>
                        </span>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>


