@model IList<nxPinterest.Data.Models.UserMedia>

<div class="content gallery" id="contentGallery">
    <div class="thumbnail-container" id="thumbnail-container">        
    </div>
</div>

<script>
    window.page = 1;
    window.images= new Array();
    
    $(document).ready(function() {
        $(window).css('min-width',500);
        initCol();
        loadImg();
        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() == $(document).height()) {
                loadImg();
            }
        });
        var timer = null;
        $(window).on('resize', function(){
            clearTimeout(timer); 
            timer = setTimeout(function() {
                reloadImage();
            },500);
        });
    });
    function getColNum() {
        var col_num = Math.floor($(window).width() / 264);
        return col_num;
    }
    function initCol() {
        $("#thumbnail-container").empty();
        var col_num = getColNum();
        var space = Math.floor(($(window).width() % 264)/2);
        for (var i = 1; i <= col_num; i++) {
            $('#thumbnail-container').append('<div id="column-'+i+'" class="image-col" style="position:absolute; width:264px; padding:8px;left:'+ (260 * (i - 1) + space) +'px;"></div>');
        }
    }
    function loadImg() {
        $.ajax({
            url: "@Url.Action("getMedia", "Home")",
            method: "Post",
            data: { pageIndex: window.page, searchKey: $('#SearchKey').val() },
            success: function (sResult) {
                window.images.push( sResult.userMediaList);
                $.each(sResult.userMediaList, function(index, value) {
                    appendData(value);
                });
                window.page = window.page + 1;
            }
        });
    }
    function reloadImage() {
        initCol();
        window.images.forEach(function (data) {
            data.forEach(function (value) {
                appendData(value);
            });
        });
        
    }
    function appendData(value) {
        var newImgEl = document.createElement('img');
        newImgEl.addEventListener('load', function() {
            shortest = findShortestCol();
            shortest.append('<figure id="'+value.mediaId+'"><a href="/Home/Details?media_id='+value.mediaId+'"><figcaption><p class="title">'+value.mediaTitle+'</p><p class="description">'+value.mediaDescription+'</p></figcaption></a></figure>');
            $('#'+value.mediaId+' a').append(newImgEl);
        });
        newImgEl.setAttribute('src', value.mediaThumbnailUrl);
        newImgEl.setAttribute('alt', value.mediaFileName);
    }
    function findShortestCol() {
        var count = $("#thumbnail-container").children().length;
        var shortest = $("#column-1");
        for (var i = 1; i <= count; i++) {
            if (Math.floor(shortest.height()) > Math.floor($("#column-"+ i +"").height())) {
                shortest = $("#column-" + i + "");
            }
        }
        return shortest;
    }
    function onViewUserMediaDetails(media_id) {
        $("#imagePreview").html("");

        OnGetUserMediaDetails(media_id).then(function (html) {
            $("#contentGallery").hide();
            $("#sectionPagination").hide();
            $(".add-image-container").hide();
            
            $("#imagePreview").append(html);
            $("#imagePreview").show();
        });
    }

    async function OnGetUserMediaDetails(media_id) {
        var promise = await new Promise(function (resolve, reject) {
            $.ajax({
                url: "@Url.Action("Details", "Home")",
                method: "Post",
                data: { media_id },
                success: function (sResult) {
                    resolve(sResult);
                }
            });
        });

        return promise;
    }

    function ShowHomeImageContainer() {
        $("#imagePreview").hide();
        $("#imagePreview").html("");
        $(".add-image-container").show();
        $("#sectionPagination").show();
        $("#contentGallery").show();
    }

</script>