@model IList<nxPinterest.Data.Models.UserMedia>

<div class="content gallery" id="contentGallery">
    <div class="thumbnail-container" id="thumbnail-container">
        @foreach (nxPinterest.Data.Models.UserMedia userMedia in Model)
        {
            await Html.RenderPartialAsync("/Views/Home/_HomeImageDetail.cshtml", userMedia);
        }
    </div>

</div>

<script>
    $(document).ready(function() {
        var page = 2;
        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() == $(document).height()) {
                $.ajax({
                    url: "@Url.Action("getMedia", "Home")",
                    method: "Post",
                    data: { pageIndex: page, searchKey: $('#SearchKey').val() },
                    success: function (sResult) {
                        $.each(sResult.userMediaList, function(index, value) {
                          $('#thumbnail-container').append('<figure><a href="/Home/GetUserMediaDetails?media_id='+value.MediaId+'"><img src="'+value.mediaThumbnailUrl+'" alt="'+value.mediaFileName+'"<figcaption><p class="title">'+value.MediaTitle+'</p><p class="description">'+value.MediaDescription+'</p></figcaption></a></figure>');
                        });
                        page++;
                    }
                });
            }
        });
    });
    function onViewUserMediaDetails(media_id) {
        $("#imagePreview").html("");

        OnGetUserMediaDetails(media_id).then(function (html) {
            $("#contentGallery").hide();
            $("#sectionPagination").hide();
            $(".add-image-container").hide();
            
            $("#imagePreview").append(html);
            $("#imagePreview").show();
        });
    }

    async function OnGetUserMediaDetails(media_id) {
        var promise = await new Promise(function (resolve, reject) {
            $.ajax({
                url: "@Url.Action("GetUserMediaDetails", "Home")",
                method: "Post",
                data: { media_id },
                success: function (sResult) {
                    resolve(sResult);
                }
            });
        });

        return promise;
    }

    function ShowHomeImageContainer() {
        $("#imagePreview").hide();
        $("#imagePreview").html("");
        $(".add-image-container").show();
        $("#sectionPagination").show();
        $("#contentGallery").show();
    }

</script>