@model nxPinterest.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "TOP";

    bool hasNextPage = (Model.PageIndex < Model.TotalPages);
    bool hasPreviousPage = (Model.PageIndex > 1);

    var prevDisabled = !hasPreviousPage ? "disabled" : "";
    var nextDisabled = !hasNextPage ? "disabled" : "";
    string searchKey = Model.SearchKey;
    //bool hasPagination = Model.TotalRecords > nxPinterest.Services.dev_Settings.pageSize_regist;
}

    <!-- Start Content-->
    @*<div id="blockGallery">
        <div class="m-3">
             @RenderBody()
        </div>
    </div>
*@

@*    <div class="add-image-container">
        <a onclick="RegiterUserMediaFile();">
            <i class="fas fa-plus-circle fa-3x"></i>
        </a>
    </div>*@
@section Styles {
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}

    <script>
        function RegiterUserMediaFile() {
            $('#image-viewer-modal').remove();
            $('#image-registration-modal').modal('show');
        }

        function showLoader() {
            $('.indicator-loader').show();
        }

        function hideLoader() {
            $('.indicator-loader').fadeOut("slow");
        }

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? results[1] || 0 : false;
        }

        $('.btn-search').on('click', function () {
            var pageIndex = $.urlParam('pageIndex');
            var searchKey = $('input[name="SearchKey"]').val();
            showLoader();
            if (pageIndex == false)
                pageIndex = 1;

            var url = '@Url.Action("Index","Home")' + "?pageIndex=" + pageIndex + "&searchKey=" + searchKey;
            window.location = url;
        });

        $('#SearchKey').keypress(function(event){
            if(event.keyCode == 13){
                var pageIndex = $.urlParam('pageIndex');
                var searchKey = $('input[name="SearchKey"]').val();
                showLoader();
                if (pageIndex == false)
                    pageIndex = 1;

                var url = '@Url.Action("Index","Home")' + "?pageIndex=" + pageIndex + "&searchKey=" + searchKey;
                window.location = url;
            }
        });

        $(document).ready(function () {
            hideLoader();
        });
        function addTags(value) {
            var searchKey = $('#SearchKey').val();
            if (searchKey) {
                searchKey = searchKey.concat(" " + value); 
            } else {
                searchKey = value;
            }
            $('#SearchKey').val(searchKey);
            var url = '@Url.Action("Index","Home")' + "?searchKey=" + searchKey;
            window.location = url;
        }
    </script>

@{
    await Html.RenderPartialAsync("/Views/Home/_HomeImageContainer.cshtml", Model.UserMediaList);
}

@{
    await Html.RenderPartialAsync("/Views/Shared/_ImageRegistration.cshtml", Model.ImageRegistrationVM);
}

    <div class="modal fade text-black" id="createUserMediaFolderModal" tabindex="-1" role="dialog" aria-labelledby="createUserMediaFolderModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body" id="mediaFolderContent">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-black" id="shareUserMediaFileModal" tabindex="-1" role="dialog" aria-labelledby="shareUserMediaFileModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
                <div class="modal-body">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="lblDate" class="col-form-label">
                            共有期限
                        </label>
                    </div>
                    <div class="col-auto mx-auto">
                        <div id="datetimepicker1"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <div class="btn-group mr-4" style="margin-right:60px">
                        <button type="button" class="btn btn-outline-secondary btn-md text-center">
                            共有する
                        </button>
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <hr class="mb-5">
                <div class="d-flex justify-content-center mt-3">
                    <input type="email" class="form-control" id="shareUserMediaFileLink">
               </div>
                <div class="d-flex justify-content-center mt-3">
                    <div class="btn-group mr-4" style="margin-right:60px">
                        <button type="button" class="btn btn-outline-secondary btn-md text-center">
                            コピーする <i class="fa fa-copy" aria-hidden="true"></i>

                        </button>
                    </div>

                </div>
                </div>
            <div class="modal-footer border-0">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-black" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center" style="font-weight: normal;">削除してよろしいですか</h3>
            </div>
            <div class="modal-footer pt-0">
                <button type="button" class="btn" data-bs-dismiss="modal">いいえ</button>
                <button type="button" class="btn btn-primary" onclick="deleteUserMediaFile();">はい</button>
            </div>
        </div>
        </div>
    </div>
    
    <div class="modal fade text-black" id="showPreviewImageModal" tabindex="-1" role="dialog" aria-labelledby="showPreviewImageModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body" id="previewImageArea">
                    <img id="previewImage" style="width:100%; height:100%">
                </div>
            </div>
        </div>
    </div>

    <iframe id="iframeDownload1" style="display: none"></iframe>
    <iframe id="iframeDownload2" style="display: none"></iframe>
    <iframe id="iframeDownload3" style="display: none"></iframe>

@section Scripts{
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
    <script src="~/js/user-album/index.js"></script>
    <script>
        var album = new userAlbumController();
           album.initialize();
    </script>
    <script>
       $(document).ready(function(){
            if ($.fn.datepicker) {
                $("#datetimepicker1").datepicker({ language: "ja", format: "YYYY-MM-DD HH:mm:ss", inline: true, sideBySide: true, todayHighlight: true, clearBtn: false });
                $('#datetimepicker1').on('changeDate', function (event) {

                    var formatted_date = event.date;
                    console.info(formatted_date);
                    
                });
            }
       });
    </script>
    }