@model HomeViewModel
@{
    ViewData["Title"] = "TOP";

    bool hasNextPage = (Model.PageIndex < Model.TotalPages);
    bool hasPreviousPage = (Model.PageIndex > 1);

    var prevDisabled = !hasPreviousPage ? "disabled" : "";
    var nextDisabled = !hasNextPage ? "disabled" : "";
    string searchKey = Model.SearchKey;
    //bool hasPagination = Model.TotalRecords > nxPinterest.Services.dev_Settings.pageSize_regist;
}

    <!-- Start Content-->
    @*<div id="blockGallery">
        <div class="m-3">
             @RenderBody()
        </div>
    </div>
*@

@*    <div class="add-image-container">
        <a onclick="RegiterUserMediaFile();">
            <i class="fas fa-plus-circle fa-3x"></i>
        </a>
    </div>*@
@section Styles {
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}

    <script>
        function RegiterUserMediaFile() {
            $('#image-viewer-modal').remove();
            $('#image-registration-modal').modal('show');
        }

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? results[1] || 0 : false;
        }

        $(document).ready(function () {
            hideLoader();
            $('#SearchKey').tagsinput({
                confirmKeys: [13, 44]
            });

            var tagsinputEle = getTagsinputEle();
            tagsinputEle.keydown(function (event) {
                if (event.keyCode == 13) {
                    var typingInputValue = tagsinputEle.val();
                    if (!typingInputValue) {
                        searchByTags();
                        return;
                    }
                }
            });
            tagsinputEle.on("paste", function (event) {
                var content = '';
                if (isIE()) {
                    //IE allows to get the clipboard data of the window object.
                    content = window.clipboardData.getData('text');
                } else {
                    //This works for Chrome and Firefox.
                    content = event.originalEvent.clipboardData.getData('text/plain');
                }
                tagsinputEle.attr('size', content.length);
            });
        });
        function isIE() {
            var ua = window.navigator.userAgent;
            return ua.indexOf('MSIE ') > 0 || ua.indexOf('Trident/') > 0 || ua.indexOf('Edge/') > 0
        }
        function getTagsinputEle() {
            return $('.navbar-header .bootstrap-tagsinput input[type=text]');
        }
        function addTags(value) {
            $('#SearchKey').tagsinput('add', value);
            searchByTags();
        }
        function searchByTags() {
            showLoader();
            var pageIndex = $.urlParam('pageIndex');
            if (pageIndex == false) {
                pageIndex = 1;
            }
            var searchKey = $('#SearchKey').val();
            var url = '@Url.Action("Index","Home")' + "?pageIndex=" + pageIndex;
            if (searchKey) {
                url += "&searchKey=" + searchKey;
            }
            window.location = url;
        }
        function changePlaceholderText() {
            var searchKey = $('#SearchKey').val();
            var tagsinputEle = getTagsinputEle();
            if (searchKey) {
                tagsinputEle.removeAttr('placeholder');
            } else {
                tagsinputEle.attr('placeholder', '検索');
            }
            tagsinputEle.attr('size', searchKey.length);
        }
        $('#SearchKey').on('itemAdded', function (event) {
            changePlaceholderText();
        });
        $('#SearchKey').on('itemRemoved', function (event) {
            changePlaceholderText();
        });
    </script>

<div id="blockGallery" class="multiImageSelect-noselect">
    <div class="m-3">
        <div class="content gallery" id="contentGallery">
            <div class="thumbnail-container" id="thumbnail-container">
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("/Views/Shared/_ImageContainer.cshtml");
}

@{
    await Html.RenderPartialAsync("/Views/Shared/_ImageRegistration.cshtml", Model.ImageRegistrationVM);
}

@section Scripts{
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
<script src="~/js/user-album/index.js"></script>
<script src="~/js/shared-user-album/index.js"></script>
    <script>
        var album = new userAlbumController();
        var shareAlbum = new shareUserAlbumMediaController();
           album.initialize();
           shareAlbum.initialize();

    </script>
    <script>
        $(document).ready(function () {
            var uploadMediaButtonEle = document.getElementById("uploadMedia");
            if (uploadMediaButtonEle) {
                uploadMediaButtonEle.style.display = "unset";
            }
        });
        function loadImg() {
            showLoader();
            $.ajax({
                url: "@Url.Action("getMedia", "UserMedia")",
                method: "Post",
                data: { pageIndex: window.page, searchKey: $('#SearchKey').val() },
                success: function (sResult) {
                    window.images.push( sResult.userMediaList);
                    $.each(sResult.userMediaList, function(index, value) {
                        appendData(value);
                    });
                    window.page = window.page + 1;
                    hideLoader();
                },
                error: function () {
                    window.images.forEach(function (data) {
                        data.forEach(function (value) {
                            appendData(value);
                        });
                    });
                    window.page = window.page + 1;
                    hideLoader();
                }
            });
        }

        function loadImgByName(albumname) {
            window.page = 1;
            window.images = new Array();
            window.itemWidth = 250;
            showLoader();
            $.ajax({
                url: "@Url.Action("GetSelectedAlbums", "UserAlbum")",
                method: "Post",
                data: { pageIndex: window.page, albumName: albumname },
                success: function (result) {
                    window.images.push(result.data.albums);
                    $.each(result.data.albums, function (index, value) {
                        appendData(value);
                    });
                    if(result.data.albums.length >0 ){
                        document.getElementById("count__album").innerHTML = `${result.data.albums.length} 項目`;
                        document.getElementById("album__date").innerHTML = dateToStr12H(new Date(result.data.albumCreateDate), 'Y年M月D日 h:m:s AP');
                    }
                    window.page = window.page + 1;
                    hideLoader();
                },
                error: function () {
                    window.images.forEach(function (data) {
                        data.forEach(function (value) {
                            appendData(value);
                        });
                    });
                    window.page = window.page + 1;
                    hideLoader();
                }
            });
        }

        function selectedAlbum(value) {
            initCol();
            renderContentAlbum(value);
            loadImgByName(value);
            var element = document.getElementById('navbarSearchAndTag');
            if (element.classList.contains('show')) {
                element.classList.remove("show");
            }
        }
        function renderContentAlbum(value) {
            $(".content_album").empty();
            $("#blockGallery").before(`<div class="row content_album" style="margin-left: 15px;">
                                                    <h2><span id="album__name">${value}</span><span class="px-2 my-1" id="editMediaFolder"  style="font-size: 0.995rem; cursor: pointer;"><i class="bi bi-pencil-square"></i></span>
                                            </h2>
                                                     <p><strong id="album__date"></strong>&nbsp&nbsp・<strong id="count__album"></strong></p>
                                       </div>`);
        }
        function dateToStr12H(date, format) {
            if (!format) {
                format = 'Y/M/D h:m:s AP';
            }
            var hours = date.getHours();
            var ampm = hours < 12 ? 'AM' : 'PM';
            hours = hours % 12;
            hours = (hours != 0) ? hours : 12;
            format = format.replace(/Y/g, date.getFullYear());
            format = format.replace(/M/g, (date.getMonth() + 1));
            format = format.replace(/D/g, date.getDate());
            format = format.replace(/h/g, hours);
            format = format.replace(/m/g, date.getMinutes());
            format = format.replace(/s/g, date.getSeconds());
            format = format.replace(/AP/g, ampm);
            return format;
        }
    </script>
    }