@model HomeViewModel
@{
    ViewData["Title"] = "TOP";

    bool hasNextPage = (Model.PageIndex < Model.TotalPages);
    bool hasPreviousPage = (Model.PageIndex > 1);

    var prevDisabled = !hasPreviousPage ? "disabled" : "";
    var nextDisabled = !hasNextPage ? "disabled" : "";
    string searchKey = Model.SearchKey;
    //bool hasPagination = Model.TotalRecords > nxPinterest.Services.dev_Settings.pageSize_regist;
}

    <!-- Start Content-->
    @*<div id="blockGallery">
        <div class="m-3">
             @RenderBody()
        </div>
    </div>
*@

@*    <div class="add-image-container">
        <a onclick="RegiterUserMediaFile();">
            <i class="fas fa-plus-circle fa-3x"></i>
        </a>
    </div>*@
@section Styles {
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/css/albums/index.css" rel="stylesheet" />
}

    <script>
        function RegiterUserMediaFile() {
            $('#image-viewer-modal').remove();
            $('#image-registration-modal').modal('show');
        }
    </script>

<div id="blockGallery" tabindex="0" class="multiImageSelect-noselect">
    <div class="m-3">
        <div class="content gallery" id="contentGallery">
            <div class="thumbnail-container" id="thumbnail-container">
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("/Views/Shared/_ImageContainer.cshtml");
}

@{
    await Html.RenderPartialAsync("/Views/Shared/_ImageRegistration.cshtml", Model.ImageRegistrationVM);
}
@{
    await Html.RenderPartialAsync("/Views/Shared/_EditAlbum.cshtml");
}
@{
    await Html.RenderPartialAsync("/Views/Shared/_RemoveAlbum.cshtml");
}
@section Scripts{
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
<script src="~/js/user-album/index.js"></script>
<script src="~/js/shared-user-album/index.js"></script>
    <script>
        var album = new userAlbumController();
        var shareAlbum = new shareUserAlbumMediaController();
           album.initialize();
           shareAlbum.initialize();
    </script>
    <script>
        $(document).ready(function () {
            var uploadMediaButtonEle = document.getElementById("uploadMedia");
            if (uploadMediaButtonEle) {
                uploadMediaButtonEle.style.display = "unset";
            }
        });
        function loadImg() {
            showLoader();
            window.isFullImage = true;
            $.ajax({
                url: "@Url.Action("getMedia", "UserMedia")",
                method: "Post",
                data: { pageIndex: window.page, searchKey: $('#SearchKey').val() },
                success: function (sResult) {
                    window.images.push( sResult.userMediaList);
                    $.each(sResult.userMediaList, function(index, value) {
                        appendData(value);
                    });
                    window.page = window.page + 1;
                    hideLoader();
                },
                error: function () {
                    window.images.forEach(function (data) {
                        data.forEach(function (value) {
                            appendData(value);
                        });
                    });
                    window.page = window.page + 1;
                    hideLoader();
                }
            });
        }

        var image_count = 0;
        function loadImgByName(albumname) {            
            window.isFullImage = false;
            if (window.isLoadAlbum) return;
            window.isLoadAlbum = true;
            window.fullAlbumName = albumname;
            window.selectedMediaIdList = [];
            if (window.selectedMediaIdList.length === 0) {
                document.getElementById("createMediaFolder").className = "disabled-link";
                document.getElementById("shareMedia").className = "disabled-link";
                document.getElementById("downloadMedia").className = "disabled-link";
                document.getElementById("deleteMedia").className = "disabled-link";
            } 
            showLoader();
            $.ajax({
                url: "@Url.Action("GetSelectedAlbums", "UserAlbum")",
                method: "Post",
                data: { pageIndex: window.pageAlbum, albumName: albumname },
                success: function (result) {
                    window.imagesAlbum.push(result.data.albums);
                    $.each(result.data.albums, function (index, value) {
                        appendData(value);
                    });
                    if(result.data.albums.length >= 0 ){
                        image_count = result.data.albums.length;
                        console.log('result.data.albums.length:' + image_count)
                        document.getElementById("count__album").innerHTML = `${result.data.albums.length} 項目`;
                        document.getElementById("album__date").innerHTML = dateToStr24H(new Date(result.data.albumCreateDate), 'Y年M月D日 h:m:s');
                        renderContentIcon();
                    }
                    window.pageAlbum = window.pageAlbum + 1;
                    hideLoader();
                    window.isLoadAlbum = false;

                },
                error: function () {
                    window.imagesAlbum.forEach(function (data) {
                        data.forEach(function (value) {
                            appendData(value);
                        });
                    });
                    window.pageAlbum = window.pageAlbum + 1;
                    hideLoader();
                    window.isLoadAlbum = false;
                }
            });
        }

        function selectedAlbum(albumName, albumUrl) {
            window.pageAlbum = 1;
            window.imagesAlbum = new Array();
            initCol();
            renderContentAlbum(albumName,albumUrl);
            loadImgByName(albumName);
            var element = document.getElementById('navbarSearchAndTag');
            if (element.classList.contains('show')) {
                element.classList.remove("show");
            }
        }

        function renderContentAlbum(albumName, albumUrl) {
            $(".content_album").empty();
            $("#blockGallery").before(`<div class="row content_album" style="padding: 15px; style="margin-left: 15px;">
                                           <h2>
                                                     <span id="album__name">${albumName}</span>
                                           </h2>
                                           <p><strong id="album__date"></strong>&nbsp&nbsp<strong id="count__album"></strong>
                                           <strong style="color:#ffffff;">&nbsp&nbsp 共有する</strong>
                                           <i style="color:#ffffff;cursor: pointer;" class="fa fa-copy" id="copyAlbum" data-albumurl="${albumUrl}" aria-hidden="true"></i></p>
                                       </div> <div id="tooltipAlbumCopy" data-toggle="tooltip" data-placement="top" title="コピーされました。"></div>`);
        }

        function renderContentIcon() {
            console.log('image_count:' + image_count);
            let display = image_count === 0 ? '': 'display:none';
            console.log('display:' + display)

            if (image_count === 0){
                $('#album__name').after(`<span class="px-1 my-1" id="removeFolder" style="font-size: 0.995rem; cursor: pointer; ${display}"><i class="bi bi-trash"></i></span>`);
            } else {
                $('#album__name').after(`<span class="px-2 my-1" id = "editMediaFolder"  style = "font-size: 0.995rem; cursor: pointer;" > <i class="bi bi-pencil-square" > </i></span >`);
            }
        }

        function dateToStr24H(date, format) {
            if (!format) {
                format = 'Y/M/D h:m:s';
            }
            var hours = date.getHours();
            format = format.replace(/Y/g, date.getFullYear());
            format = format.replace(/M/g, (date.getMonth() + 1));
            format = format.replace(/D/g, date.getDate());
            format = format.replace(/h/g, hours);
            format = format.replace(/m/g, date.getMinutes());
            format = format.replace(/s/g, date.getSeconds());
            return format;
        }
    </script>
    }