@model nxPinterest.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "ホーム";
}

<div class="content gallery">
    @for (int i = 0; i < 15; i++)
    {
        await Html.RenderPartialAsync("/Views/Shared/_HomeImageContainer.cshtml");
    }
</div>

@{
    await Html.RenderPartialAsync("/Views/Shared/_ImageViewer.cshtml");
    await Html.RenderPartialAsync("/Views/Shared/_ImageRegistration.cshtml", Model.ImageRegistrationRequests);
}